/* This ensures padding does not affect the final computed width of an element */
.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Noto Serif Lao", serif;
  font-family: "Roboto", sans-serif;
}

/* ---------------------- */
/* Exit Button            */
/* ---------------------- */
#exit-btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

#exit-btn {
  background-color: darkgrey;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  cursor: pointer;
  font-size: 9pt;
  width: 12%;
  text-align: center;
  outline: none;
  padding: 2px 4px 2px 4px;
  outline: none;
}

#exit-btn:hover,
#exit-btn:focus,
#exit-btn:active {
  background-color: #2c365e;
  color: white;
}

/* ---------------------- */
/* Quiz Container         */
/* ---------------------- */
#quiz-container {
  background-color: white;
  display: none;
}

/* ---------------------- */
/* Submit Button          */
/* ---------------------- */
#submit-btn {
  font-size: 15pt;
  font-weight: bolder;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  width: 100%;
  height: 80px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #4b8f8c;
  transition-duration: 0.3s;
  line-height: 2.2;
  outline: none;
  text-align: center;
}

/* ---------------------- */
/* Alert Message          */
/* ---------------------- */
#alert-message {
  display: none;
}

/* ---------------------- */
/* Progress Bar           */
/* ---------------------- */
.progress-container {
  width: auto;
  background-color: lightgrey;
  border-radius: 6px;
}

#progress-bar {
  background-color: #c5979d;
  border-radius: 6px;
  height: 25px;
  font-size: 10pt;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
}

/* ---------------------- */
/* Image                  */
/* ---------------------- */
#image-container {
  width: auto;
  height: 250px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
}

#image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* ---------------------- */
/* Question               */
/* ---------------------- */
#question-container {
  font-size: 18pt;
  line-height: 22pt;
}

/* ---------------------- */
/* Answers                */
/* ---------------------- */
#answer-container {
  height: 200px;
}

/* ---------------------- */
/* Score                  */
/* ---------------------- */
#score-container {
  display: none;
  text-align: center;
  margin-top: 100px;
  padding: 15px;
}
#score-box {
  font-weight: bold;
  font-size: 15pt;
}
#score {
  font-size: 30pt;
  color: darkgreen;
  font-weight: bolder;
}

#image-box {
  /* width: auto;
  height: auto; */
  margin-top: 50px;
}

#image-box img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 6px;
}

/* ---------------------- */
/* After Game             */
/* Play Again Btn &       */
/* Back to Main Btn       */
/* ---------------------- */
#after-game-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 100px;
}

#back-to-main-btn,
#play-again-btn {
  background-color: #484d6d;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 15pt;
  height: 44px;
  line-height: 2.2;
  outline: none;
  text-align: center;
  width: 50%;
}

#back-to-main-btn:hover,
#back-to-main-btn:focus,
#back-to-main-btn:active {
  background-color: #2c365e;
}

#play-again-btn:hover,
#play-again-btn:focus,
#play-again-btn:active {
  background-color: #2c365e;
}

/* ---------------------- */
/* Modal                  */
/* ---------------------- */

#correct-answer-modal-content {
  background-color: darkgreen;
  color: white;
  font-size: 15pt;
  font-weight: bold;
  display: block;
  top: 50vh;
  transform: translate(-50% -50%);
  text-align: center;
}

#wrong-answer-modal-content {
  background-color: darkred;
  color: white;
  font-size: 15pt;
  font-weight: bold;
  display: block;
  top: 50vh;
  transform: translate(-50% -50%);
  text-align: center;
}

/* ---------------------- */
/* Main HTML              */
/* ---------------------- */


/* ---------------------- */
/* Start Button           */
/* ---------------------- */
#start-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4b8f8c;
}

#start-btn {
  background-color: #484d6d;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 15pt;
  height: 44px;
  /* line-height: 2.2; */
  outline: none;
  text-align: center;
  width: 50%;
  transition-duration: 500ms;
}

#start-btn:hover,
#start-btn:focus,
#start-btn:active {
  background-color: #2c365e;
}

/* ---------------------- */
/* Nav Bar                */
/* ---------------------- */

.navbar {
  position: fixed;
  height: 100;
  width: 100%;
  background-color: #2c365e;
  /* background-image: url("/images/Buttons/footerbackground.png"); */
}

.navbar-brand-logo {
  width: 80;
}

/* ---------------------- */
/* Footer                 */
/* ---------------------- */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2c365e;
  /* background-image: url("/images/Buttons/footerbackground.png"); */
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#footer-btn-container a {
  color: white;
}

div.fixed-bottom-box {
  height: 80px;
  background: white;
}

button.submit-btn {
  height: 50px;
  border-radius: 10px;
}

.container-nav {
  background-color: aqua;
}

.btn-group {
  display: flex;
  margin-top: 100%;
  justify-content: end;
}

.content {
  padding-bottom: 60px;
}





.play-buttons {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* body {
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
} */

.profile-container {
  padding-top: 100px;
}
