/* This ensures padding does not affect the final computed width of an element */
.selector-for-some-widget {
  box-sizing: content-box;
}

html,

body {
  min-height: 100vh;
  position: relative;

}

/* ---------------------- */
/* Top Menu               */
/* ---------------------- */
div.menu-top {
  height: 80px;
  font-size: 18pt;
}

/* ---------------------- */
/* Progress Bar           */
/* ---------------------- */
div.progress-bar-box {
  height: 30px;
}

/* ---------------------- */
/* Image                  */
/* ---------------------- */
div.image-box {
  height: 250px;
}

#dog-img-01 {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

/* ---------------------- */
/* Question               */
/* ---------------------- */
div.question-box {
  height: auto;
  font-size: 25pt;
  line-height: 30pt;
}

/* ---------------------- */
/* Answers                */
/* ---------------------- */
div.answers {
  height: 300px;
}

span.answers {
  height: 50px;
  background: lightcyan;
  border-radius: 10px;
  font-size: 20pt;
}

div.fixed-bottom-box {
  height: 80px;
  background: white;
}

button.submit-btn {
  height: 50px;
  border-radius: 10px;
}

.container-nav {
  background-color: aqua;

}

.btn-group {
  display: flex;
  margin-top: 100%;
  justify-content:end;
}

.content {
  padding-bottom: 60px;
}

.navbar {
  position: fixed;
  height: 100;
  width: 100%;
  background-image: url("/images/Buttons/footerbackground.png");
}

.navbar-brand-logo {
  width: 80;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url("/images/Buttons/footerbackground.png");
}

.play-buttons {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; 
  z-index: -1;
}







